<h2>Inventario por Sucursal</h2>

<table class="inventory-table">
  <thead>
    <tr>
      <th>Producto</th>
      <th>Categoría</th>
      <th *ngFor="let branch of getBranches()">Stock en {{ branch }}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of products">
      <td>{{ product.name }}</td>
      <td>{{ product.category }}</td>
      <td *ngFor="let branch of getBranches()">{{ product.stock[branch] }}</td>
    </tr>
  </tbody>
</table>

<app-total-stock
  [totalStockPerBranch]="totalStockPerBranch"
  [totalGlobalStock]="totalGlobalStock"
></app-total-stock>